.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 10;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  position: relative;
  left: 64px;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  flex-direction: column;
  align-self: center;
  z-index: 10;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  z-index: 10;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  margin: auto 0 0 auto;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  margin: 100px 0 0 0;
}

.two-columns {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph-margins {
  margin: 30px 0;
}

.two-columns__span-accent {
  font-weight: bolder;
}

.digits {
  margin: 100px 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  width: 60%;
  margin: 0 auto 20px auto;
  text-align: center;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  list-style-type: none;
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.table__span-source {
  margin-top: 20px;
  display: block;
}

.feynman {
  position: relative;
  min-height: 790px;
  padding-top: 100px;
}

.feynman__title {
  margin: 0 auto auto auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  max-width: 648px;
  position: inherit;
  z-index: 10;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: inherit;
  z-index: 10;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;


  border: 1px solid red;
}
